$width: 700px;
$height: 425px;

body {
  background-color: lightblue;
}

#canvas {
  display: block;
  position: relative;
  width: $width;
  height: $height;
  background-color: #b1b1b1;
  cursor: none;
}
