// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

/*
@font-face {
  font-family: 'ClanPro-BookItalic';
  src: url('/assets/fonts/ClanPro-BookItalic.eot');
  src: url('/assets/fonts/ClanPro-BookItalic.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/ClanPro-BookItalic.woff') format('woff'), url('/assets/fonts/ClanPro-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClanPro-Bold';
  src: url('/assets/fonts/ClanPro-Bold.eot');
  src: url('/assets/fonts/ClanPro-Bold.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/ClanPro-Bold.woff') format('woff'), url('/assets/fonts/ClanPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
