/**
 * Basic typography style for copy text
 */

body {
  color: $textColor;
  font-weight: 300;
  font-size: 16px;
}

/* Heading and heading-like style rules */
h1, .h1 {

}

/* small and small-like style rules */
small, .small {

}

/* paragraph and paragraph-like style rules */
p, .p {

}
