// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$linkColor: #34d09f;
$linkHoverColor: green;

$textColor: blue;
$backgroundColor: #fff;
$textSelectionColor: purple;

$maxWidth: 1440px;
